# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore build artifacts
bin/
obj/
out/

# Ignore system files
Thumbs.db
.DS_Store

# Ignore logs
*.log

# Ignore user-specific files
*.userosscache
*.sln.docstates

# ASP.NET
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
server/Properties/PublishProfiles/FolderProfile.pubxml
server/Properties/PublishProfiles/FolderProfile1.pubxml
Server/Properties/PublishProfiles/FolderProfile3.pubxml
Server/Properties/PublishProfiles/FolderProfile4.pubxml
server/Properties/PublishProfiles/FolderProfile.pubxml
server/Properties/PublishProfiles/FolderProfile1.pubxml
server/Properties/PublishProfiles/FolderProfile.pubxml
server/Properties/PublishProfiles/FolderProfile1.pubxml
